#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  display: flex;
  width: 80vw;
  height: 80vh;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
}

.read-the-docs {
  color: #888;
}
button {
  margin: 10px;
    padding: 0px;
}

.gameButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameContainer {
  display: flex;
  flex-wrap: wrap;
  border: 10px solid rgb(232, 32, 32);
  border-radius: 20px;
  width: 800px !important;
  height: 800px !important;
  overflow: scroll;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
}

.screen {
  z-index: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
  justify-items: center !important;
  
}
.timer {
  font-size: 60px;
}
.matchButton {
  margin-right: auto;
    margin-left: auto;
    width: 100px !important;
    height: 100px !important;
    font-size: 40px;
}
.board {
  background-color: red;
}
.gameHeader {
  margin-left: 20px;

  border: 5px rgb(255, 0, 0) solid;
  margin-bottom: 10px;
  border-radius: 20px;
  margin-right: 10px;
    height: 400px;
    min-width: 25vw;
    padding: 10px;
}

.loser {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20vh;
  bottom: auto;
  left: 25vw;
  right: 25vw;
  width: 50vw;
  height: 50%;
  z-index: 100;
  background-color: rgba(102, 29, 29, 0.895);
    border: 5px rgb(255, 0, 0) solid;
    border-radius: 20px;

}